{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <section class="section">
        <div class="has-text-centered">
            <h1 class="title is-size-1">Welcome to Kuiz</h1>
            <h2 class="subtitle">An open quizzing platform</h2>
        </div>
    </section>

    <hr />

    {# TODO: button wrapping #}
    <div class="columns buttons is-multiline">
        <a class="column button is-large is-primary">Random quiz</a>
        <a class="column button is-large is-link" href="{{ path('quiz_list') }}">All quizzes</a>
        <a class="column button is-large is-info is-outlined">Sign up / Log in</a>
    </div>
{% endblock %}